[2014-11-25 21:15] cybergeek94 opened #1 "Support for Iron"
http://ironframework.io/

[2015-07-04 20:44] LukasKalbertodt opened #2 "Is this dead?"
Hi there,

it seems like this repo died a few months ago. Any plans to continue this project? Or are there any good alternatives?

[2015-07-04 20:47] cybergeek94 commented on #2
I haven't been working on it because I didn't think anyone was interested. I can update it to compile on latest Rust or accept your PR if you want to do it.

[2015-07-04 21:01] LukasKalbertodt commented on #2
Yep I'm interested in this. Actually I cannot believe that no one needs this... I don't want to write a boundary-find-algorithm just to make some kind of simple HTTP-request. Don't other Rust developer need that? I'm really confused.

But yes, if you have some time to spare, it would be really nice to use this. :+1:

[2015-07-04 21:04] cybergeek94 commented on #2
All the web stuff in Rust is still so early on, it makes sense why no one needs to accept multipart requests yet. I have to leave in a few hours for a family function since today's a holiday in the US, but I'll see what I can do.

[2015-07-04 21:15] LukasKalbertodt commented on #2
No hurry!

I am reading a bit through the code right now. One thought: It would be cool to make it independent of hyper. Should be possible by just taking io::Read and io::Write, shouldn't it? I think it would be nice to modernize this crate, instead of just make it compile.

Another thing: It looks to me like you don't actually check your boundary for the client. You just create a random string a

[2015-07-04 21:19] cybergeek94 commented on #2
Well it needs to read headers from the request to determine whether or not the it is a multipart request, and if so, the boundary. I guess I could make Hyper optional and create a trait to implement for Hyper's `Request` object:

[code]

I have some time to kill so I'll create a `revival` branch and start doing this work there.

[2015-07-04 21:24] cybergeek94 commented on #2
Wait, what.... all the source files are empty! I was in the middle of a rewrite and I guess I committed broken code. At least the hardest part to write, `BoundaryReader`, is still intact.

[2015-07-04 21:34] LukasKalbertodt commented on #2
I looked through the code on the "crates" branch... I was wondering why clients.rs is empty on master, too ;)

[2015-07-04 21:37] cybergeek94 commented on #2
I reverted that commit, there should be code back on `master` now.

[2015-07-04 21:45] LukasKalbertodt commented on #2
The boundary musn't appear in one of the payloads. If one of the payloads (a file for example) contains the boundary the server can't parse the body. Or am I missing something?

And about hyper: This trait trick should work, but its not optimal IMO... Don't know if theres a way to make it work easily. Maybe this crate should concentrate on the body parsing alone and forget about headers completely

[2015-07-04 21:46] LukasKalbertodt commented on #2
http://www.w3.org/TR/html401/interact/forms.html#h-17.13.4

[2015-07-04 21:47] cybergeek94 commented on #2
No, that's right. But it's unfeasible to check every file for the boundary sequence, especially if they're all very large. So we generate a relatively high-entropy random string and hope for the best.

[2015-07-04 22:00] LukasKalbertodt commented on #2
Ok, already thought about the near 0 probability that a random boundary string appears in the payload. But still: It sounds wrong to me...

Maybe thats why nobody uses this crate: Generating a random string is "fairly easy" :P
One could at least add an optional method `check_boundary`...

[2015-07-04 22:02] cybergeek94 commented on #2
You can check what Firefox or Chrome does but I very much doubt they check their payloads for occurrences of the boundary string. The guys on `#rust-webdev` or `#servo` on the Mozilla IRC would know better than I do. If they say we should check the boundary string, then we'll check the boundary string. :)

[2015-07-04 23:03] LukasKalbertodt commented on #2
I checked [`curl`](https://github.com/bagder/curl/blob/8f4791440a940cbc7bd5a911ae5344b117669dcc/lib/formdata.c#L1517) and yes, it's just random. And @sfackler told me in `#rust-webdev`:

So yes, apparently no one checks the boundary. I really thought it should be checked in production. So I've learned something today ^_^

[2015-07-04 23:24] cybergeek94 commented on #2
All right, have a look at the `revival` branch. I'll be out for a couple hours but I'll be back to continue this later.

[2015-07-05 07:43] LukasKalbertodt commented on #2
I have created a PR to fix the build script and tried to compile it with rust stable. Currently `mime_guess` uses unstable features, which should be fixed easily. But have you considered switching to [mime-types](https://github.com/conduit-rust/mime-types)? It looks like a more complete list. Although its not as easy to use... I'm not sure about that.

[2015-07-05 08:10] cybergeek94 commented on #2
`mime_guess` actually came a long time before`mime-types`. I just never bothered to advertise it to the community. `mime-types` doesn't interface directly with the `mime` crate and also builds a hashmap at runtime; I was able to achieve a zero-setup binary search by just having an ordered static slice. :smile:

[2015-07-05 08:14] LukasKalbertodt commented on #2
Zero-setup, but possible more runtime cost for every query? I'm really not sure, which solution is better here. I just thought about using a `lazy_static` HashMap or something. But it's not really important right now ;)

[2015-07-05 08:19] cybergeek94 commented on #2
Tradeoffs, tradeoffs, tradeoffs. `mime-types` parses the whole list from JSON, so the setup cost is pretty large if you're only doing one or two lookups. It also uses more memory overall, because it and `mime_guess` both store the master list but `mime-types` also copies it to the heap at runtime. Very inefficient.

I also forgot to mention that I tried all that before, and realized this was the s

[2015-07-05 08:48] cybergeek94 commented on #2
Well, one big change that I'm going to have to figure my way around is that readers no longer return `Err` when they are at EOF. They just return 0 bytes read and let the user assume that the reader has reached its end.

[2015-07-14 21:27] #2 closed

[2015-07-14 22:37] cybergeek94 opened #5 "Feature flags for conditional compilation"
* RFC: make `hyper` a default feature
* Make `client` module compile conditionally with default `client` feature
* Make `server` module compile conditionally with default `server` feature

[2015-07-16 10:50] nicolas-cherel opened #6 "multipart content type ignored, probably due to boundary parameter detection problem"
I tried to investigate why my multipart request was not detected. Step by step, I finally found what would might be a problem, and it seems to be in the mime parameters handling here https://github.com/cybergeek94/multipart/blob/4ceeb41cb4a3f015ccb8f7aeb74b124e96313764/src/server/hyper.rs#L86

I'm not sure what triggered the regression, probably the introduction of [Boundary](https://github.com/hy

[2015-07-16 20:06] cybergeek94 commented on #6
Closed by #7

[2015-07-16 20:06] #6 closed

[2015-07-17 01:49] #5 closed

[2015-07-17 14:08] nicolas-cherel opened #15 "First boundary skipped"
me again, about this change :

https://github.com/cybergeek94/multipart/blob/master/src/server/mod.rs#L61

The first boundary that comes from hyper won't have the \r\n, since the multipart is the http content body, the two previous CRLF are part of the header. It's a real pain, since it removes a simple way to strip the extras CRLF around the boundary.

I'll try to figure out a sensible solution a

[2015-07-17 20:14] cybergeek94 commented on #15
Closed in #16, thanks!.

[2015-07-17 20:14] #15 closed

[2015-07-24 09:09] nicolas-cherel opened #18 "Problems with limited inner buffers for BoundaryReader."
I'm not 100% percent sure what's happening here, since I can't reproduce the bug reliably, it happens on a hyper server requests handling, but sometimes [`read_to_boundary()`](https://github.com/cybergeek94/multipart/blob/202f5e0418b7b59591862a9d577af657d666d8eb/src/server/boundary.rs#L30-L54) fails to read boundary properly.

For the cases I managed to inspect, it was when the boundary was not en

[2015-07-24 17:09] cybergeek94 commented on #18
I thought I had covered this, I guess not. `BoundaryReader` is definitely supposed to be able to handle this. It's probably just a logic error in `read_to_boundary()`, we've caught plenty of those already.

[2015-07-24 19:36] cybergeek94 commented on #18
I have a partial fix on the `boundary_fix` branch. I added a test to make sure it handles a split on the boundary correctly.

It ended up being necessary to have `BoundaryReader` be aware of the `--` after the last boundary. Otherwise, `Multipart` would keep reading an empty string looking for it, since `BoundaryReader` will never yield bytes that *might* be part of a boundary.

However, `test_spl

[2015-07-24 21:14] nicolas-cherel commented on #18
Great, thanks a lot !

Ho, the infinite loop does ring a bell, there is changes in your branch, but [here](https://github.com/cybergeek94/multipart/blob/boundary_fix/src/server/boundary.rs#L65-L68), there might be cases where the state of `self.boundary_read` or `self.at_end` is not changed, while returned buffer is empty, with nothing left to be read.

[2015-07-24 21:19] cybergeek94 commented on #18
That fixed the infinite loop but the test still fails. Interestingly enough, it looks to be right at the split point set by the magic number in `test_split_boundary()` but I'm not sure yet why that would be the case.

[2015-07-25 01:33] cybergeek94 commented on #18
Alas, I think I've run into the same limitation of `BufRead`/`BufReader`'s API that bit me in the butt the last time I tried to use it. The problem is, `BufRead::fill_buf()` will not read from the underlying stream until all bytes currently in the buffer are consumed.

This is a *really* big problem because we don't want to consume bytes from the buffer unless we know it is safe to do so; often, t

[2015-07-25 02:06] cybergeek94 commented on #18
I've opened a thread on Rust-Internals about this https://internals.rust-lang.org/t/i-think-ive-found-a-hole-in-bufreaders-api/2399

[2015-07-25 04:17] cybergeek94 commented on #18
I'm pretty sure I've fixed it. I copied `BufReader` from `std::io` and implemented the method I needed on it, and now the test passes.

[2015-07-26 11:52] #18 closed

[2015-08-11 02:34] jyasskin opened #22 "Broken documentation link"
Your README points to http://rust-ci.org/cybergeek94/multipart/doc/multipart/, which is a 404.

[2015-08-11 02:38] jyasskin commented on #22
Your [Travis CI build](https://travis-ci.org/cybergeek94/multipart/jobs/72920580) says:

[2015-08-20 18:57] cybergeek94 commented on #22
Thanks for bringing this to my attention. Sorry for the delay, I had more pressing matters to take care of.

I updated the Rust-CI token but I'm getting a new error when it attempts the docs upload. [Travis CI Build log](https://travis-ci.org/cybergeek94/multipart/jobs/76511853)

It looks like an issue with the upload script generated by Rust-CI, perhaps it's trying to use an outdated `pip` packag

[2015-10-06 18:49] anowell opened #23 "Usage with hyper's RequestBuilder"
I'm finding it quite challenging to retrofit multipart into a client library that was built using hyper's `RequestBuilder`. I've been trying to implement `HttpRequest` and `HttpStream` for a wrapper around hyper's `RequestBuilder` (I can't see an obvious way to implement it directly against RequestBuilder), and perhaps my Rust is still just inadequate, but I keep hitting walls. I've worked around

[2015-10-06 19:16] cybergeek94 commented on #23
So `RequestBuilder` has a lifetime `'a`, which, as you guessed correctly, means it only borrows the buffer passed to `.body()`, so it requires that that buffer *outlive* `'a`.

There's a couple possible ways you could fix this. I think you should be able to lift `self.inner` to a local `let` binding, which should hint to the compiler that it won't outlive `finish()`. It may necessitate lifting the

[2015-10-07 03:59] anowell commented on #23
Thanks for taking the time to suggest some changes on my end. Unfortunately lifting `buffer` and `inner` didn't resolve it. I suspect it's because the builder pattern is consuming `self` at every step so the compiler seems to believe the borrowed buffer is part of the object being returned. I'll chew on your other suggestion a bit more, although in the context of an API client with lots of non-mul

[2016-01-10 18:49] cmr opened #25 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-02-11 19:29] bltavares opened #26 "First entry is being skipped"
Hi there,

I was trying out multipart on a form with a single file field, but I was not being able to get the result back.

I've created an example project to reproduce the issue. On this project, there is 3 file fields that I submit on the request, but the first is getting skipped.
https://github.com/bltavares/multipart-skipping-field-bug-report

I was trying to pinpoint why it was happening, and

[2016-02-12 00:00] cybergeek94 commented on #26
@bltavares I believe I have fixed this now. Could you please update your Cargo.toml to use `multipart="0.4.1-alpha"` and let me know if it works as expected?

[2016-02-12 05:14] cybergeek94 commented on #26
Actually just make that `multipart="0.4.1"`, there's a bug with prerelease version parsing in Cargo.

[2016-02-12 13:24] bltavares commented on #26
@cybergeek94 thank you, It has been fixed on `0.4.1`.

Cheers!

[2016-02-12 13:24] #26 closed

[2016-02-12 18:06] cybergeek94 commented on #26
Good to hear! Thanks for the report.

[2016-03-04 10:30] cybergeek94 commented on #25
@nicolas-cherel @LukasKalbertodt
Do you consent to having your contributions to `multipart` relicensed under a dual MIT/Apache 2.0 license?

@cmr
What do we do if we never hear back?

[2016-03-04 10:47] LukasKalbertodt commented on #25
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-03-04 10:47] LukasKalbertodt commented on #25
Sorry, I totally forgot about that. Thanks for the ping @cybergeek94 !

[2016-03-04 10:51] cybergeek94 commented on #25
@LukasKalbertodt Thanks for the quick response!

[2016-03-04 11:37] nicolas-cherel commented on #25
ouch, I though i'd okayed on this already, sorry !

[2016-03-04 11:37] nicolas-cherel commented on #25
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-03-04 11:40] cybergeek94 commented on #25
Excellent! If @cmr's scripts haven't opened a PR by the time I get back to this, I'll implement this myself.

[2016-03-13 06:06] #25 closed

[2016-03-13 09:55] cybergeek94 opened #29 "[Easy/Mentored] Create Sample Projects"
I started to work on sample projects for each of the features in this release, but I realized it would be a perfect opportunity to mentor some beginners to Rust webdev!

If you are interested in tackling any of these, let me know on this PR and we'll coordinate on the `#rust-webdev` channel of the Mozilla IRC or another communication channel of your choosing.

Each of the following items will be c

[2016-03-13 09:56] #23 closed

[2016-03-13 11:22] cybergeek94 commented on #1
Closed in #27

[2016-03-13 11:22] #1 closed

[2016-03-13 11:23] cybergeek94 commented on #22
Documentation is now hosted on Github Pages.

[2016-03-13 11:23] #22 closed

[2016-03-13 15:07] HM0880 commented on #29
I'm working on the `hyper_client` example now.  I'll submit a PR when it's done.

[2016-03-13 21:13] cybergeek94 commented on #29
@HM0880 Cheers! Feel free to take any of the others if you like, let me know if you need help.

[2016-03-16 16:15] hatsunearu commented on #29
Is `hyper_server` taken? I am interested in picking it up starting this weekend.

[2016-03-16 20:40] cybergeek94 commented on #29
@hatsunearu not to my knowledge, feel free to take it up! I'll start tracking who's doing what in the issue.

[2016-03-18 04:19] hatsunearu opened #30 "compiling multipart v0.5.0 fails"
I was trying to get this working and I'm having issues compiling multipart. Have you seen this before?

[code]

[2016-03-18 04:25] cybergeek94 commented on #30
Related to https://github.com/cybergeek94/mime_guess/issues/17

I've pinned the `mime_guess` version at 1.5, please update from `master` and try again.

[2016-03-18 04:27] hatsunearu commented on #30
Got it working, cool beans!

[2016-03-18 04:27] #30 closed

[2016-03-18 15:28] White-Oak commented on #29
Can i claim `tiny_http` one?

[2016-03-18 20:23] cybergeek94 commented on #29
@White-Oak Sure, go right ahead!

[2016-03-19 10:36] cybergeek94 commented on #29
@HM0880 @hatsunearu @White-Oak So you guys know, I don't normally get on IRC so if you need help or advice just ping me on this issue or send me an email or a PM on reddit.

[2016-03-19 22:52] cybergeek94 commented on #29
@HM0880 @hatsunearu A general note to keep in mind, based off @White-Oak's PR (#31):

`.unwrap()` should be avoided where it makes more sense to recover from errors than panic, especially for the server-side where you don't want a single malformed request to bring down the whole server process.

This is still applicable to client applications which don't necessarily need to keep running after an e

[2016-03-22 21:29] cybergeek94 commented on #29
Merged #31, thanks for the `tiny_http` sample @White-Oak! Good work.

[2016-03-22 23:27] White-Oak commented on #29
If noone minds I'll take the `iron` as well.

[2016-03-22 23:36] cybergeek94 commented on #29
@White-Oak Go ahead! I'm sure if someone wanted it they'd have claimed it by now.

[2016-03-23 00:53] White-Oak commented on #29
@cybergeek94 hey, the most recent version of `iron` is `0.3`, but you depend on `0.2` and there is something that breaks compatibility between these. Just wanted you to know.

[2016-03-23 00:54] cybergeek94 commented on #29
@White-Oak can you open an issue on that? I'll upgrade it in a bit, or you can have a go at it if you want.

[2016-03-23 01:10] White-Oak opened #33 "Iron dependency is outdated"
https://crates.io/crates/iron is on `0.3`, while `multipart` depends on `0.2`. They are probably at most compatible.

However, when I was trying to `Multipart::from_request` from Iron Request, `rustc` was terribly angered, complaining traits being not implemented. The issue was gone, when I specified `iron 0.2` as a dependency of my sample.

[2016-03-23 01:10] White-Oak commented on #29
@cybergeek94 I'll wait for you to upgrade it.

[2016-03-23 01:19] cybergeek94 commented on #33
It's probably as simple as bumping Iron to `0.3` for `multipart` itself. If you'd rather wait, I can take care of it in a few hours.

In the meantime, just create the sample against Iron 0.2

[2016-03-28 22:36] cybergeek94 commented on #29
Pinging @HM0880 @hatsunearu any progress on your ends? There's no hurry in finishing, you've just been inactive for a while and I'm wondering if you're still interested in doing this. If not, that's okay, I just have to know so I can make the tasks available for someone else.

[2016-03-28 22:45] cybergeek94 commented on #29
@White-Oak you're the only one that's committed code so far so at this point this really only concerns you. I'm considering giving the sample projects a public domain/copyfree license like [CC0](https://en.wikipedia.org/wiki/Creative_Commons_license#Zero_.2F_public_domain) or [WTFPL](https://en.wikipedia.org/wiki/WTFPL) to eliminate any hindrances in using them to bootstrap a project. What do you

[2016-03-28 22:48] HM0880 commented on #29
@cybergeek94 Yes, still interested. Work and life have been very busy lately. I hope to get to it soon. :)

[2016-03-29 01:20] White-Oak commented on #29
@cybergeek94 I'm fine with public domain, but no WTFPL, please.
I have also looked into implementing 'hyper_reqbuilder' sample, so if you haven't started on it yet, I can make a PR.

[2016-03-29 01:35] cybergeek94 commented on #29
@White-Oak Please, go ahead.

I can understand not wanting the WTFPL. I've also been looking at [the Unlicense](http://unlicense.org/), which is probably the best one though I don't think it's necessary to go as far as requiring contributors to explicitly waive their copyrights and/or digitally sign a release.

[2016-03-29 03:23] White-Oak opened #35 "Mime dependency is outdated"
0.1 versus 0.2

[2016-03-29 04:10] White-Oak commented on #35
Is it possible to reexport types, so one wouldn't need to state a matching version of a dependency in Cargo.toml, but use what library is using?

[2016-03-29 04:20] cybergeek94 commented on #35
If Cargo was smart enough to match dependencies within a range of versions, this wouldn't really be an issue. I guess it's more computationally complex than it seems: https://github.com/rust-lang/cargo/issues/2064

Updating to `mime 0.2` is generally trivial, though. I'll get to it in a bit.

[2016-03-29 20:14] hatsunearu commented on #29
I'm still interested. I'm also pretty busy with studies and life, and I hope to get it done in the coming weeks. I don't care about licenses, but Public Domain seems a bit more professional.

[2016-03-29 21:45] cybergeek94 commented on #35
I actually have already done this update on the `0.6` branch, so I'll roll in the update to Iron and roll it out.

[2016-04-08 00:43] cybergeek94 commented on #29
New integration coming: Nickel!

It'll need a sample project like the others. Anyone interested?

[2016-04-08 01:17] cybergeek94 commented on #29
When #37 is merged, the *lorem ipsum* text file will be available under `samples/`.

[2016-05-19 23:44] cybergeek94 commented on #29
Pinging @HM0880 @White-Oak @hatsunearu

You all still alive?

[2016-05-20 00:24] hatsunearu commented on #29
Yeah, I just started work at NVIDIA and I have pretty much zero time to work on this unfortunately. I'm really sorry but I'll have to give up on it. If nobody does it after my next semester begins I might take a second shot at it.

Sorry about the mess.

On May 19, 2016 4:55 PM, Austin Bonander <notifications@github.com> wrote:

Pinging @HM0880<https://github.com/HM0880> @White-Oak<https://github.

[2016-05-20 00:32] cybergeek94 commented on #29
@hatsunearu Congratulations on the new job! Don't worry about the sample project, I'll get it done.

[2016-05-26 19:36] HM0880 commented on #29
Yes, still alive and still interested! Am in the process of changing jobs, but that should calm down in a few weeks. I'd still love to do this, but if someone else is interested and is more available, feel free to give it to them.

[2016-06-11 11:44] #33 closed

[2016-06-11 11:44] #35 closed

[2016-06-11 11:46] cybergeek94 opened #40 "Support async Hyper"
This might necessitate creating a new crate architected around async requests.

[2016-06-11 11:52] cybergeek94 opened #41 "Separate into client and server crates"
Generally, you either want one or the other. The client and server sides should be separated into their own crates (but potentially still under this repo).

`multipart` can remain as a shell crate that reexports the client and server crates as modules, so its usage doesn't change for existing projects.

[2016-06-15 10:17] king6cong opened #42 "Some Examples will really help"
Such as simplest client file upload, etc

[2016-06-15 11:25] cybergeek94 commented on #42
Please see existing issue #29.

[2016-06-15 11:25] #42 closed

[2016-06-20 00:41] abonander opened #44 "Support Hyper 0.9"
~~Try a version range to keep the Nickel feature functional.~~ Doesn't work.

Blocked on ~~Iron and~~ Nickel upgrading to 0.9.

[2016-06-20 23:47] cybergeek94 commented on #41
Turns out this just adds more complexity, especially when handling features.

[2016-06-20 23:47] #41 closed

[2016-07-07 16:59] puhrez commented on #29
Hey! I'm interesting in `hyper_server`, I'll get on it soon!

[2016-07-16 09:11] paomian opened #46 "Hyper Clinet type mismatch"
when I call `client_request` in mp which type is `multipart::client::lazy::Multipart` and i got this error? I can't understand  `&hyper::Client` is not same with `&hyper::client::Client`?
[code]

[2016-07-16 09:14] paomian commented on #46
It's seem to be the version of hyper.i change the hyper version in my project from 0.9 to 0.8,can resolve this problem.

[2016-07-17 06:22] cybergeek94 commented on #46
Yes, we can't upgrade to Hyper 0.9 yet, namely because Nickel is still on 0.8. Please use `hyper = "0.8"` in your projects for now, or, for future reference, whatever version of `hyper` that `multipart` declares.

[2016-07-17 06:22] #46 closed

[2016-08-05 11:28] iamsebastian opened #47 "nickel is missing HttpRequest trait?"
I've tried to implement this module in a fresh API, written in rust, but I can't get it to compile successfully. If I could get it to run, I would write an example integration for nickel in this project.

Maybe, there's a typo anywhere?

### Cargo.toml

[code]

### multipart.rs

[code]

`cargo run --bin multipart` will result in:

[code]

Thanks in advance for your help.

[2016-08-05 19:27] cybergeek94 commented on #47
You don't write what version of Nickel you have in your Cargo.toml. If it doesn't match Multipart's, you'll get this error.

Also, the `nickel_` feature implies `nickel`; the underscored feature is to make sure Hyper is activated as well since Nickel doesn't reexport Hyper's `Request` type. That's also what's blocking the upgrade to Hyper 0.9.

[2016-08-08 06:02] iamsebastian commented on #47
Argh.

I used `hyper = 0.9` and nickel upstream from GitHub as source.

## Fix

[code]

Does the trick.

*These moments, when you waste time to get something fixed which is not broken.* :penguin:

[2016-08-08 06:02] #47 closed

[2016-08-08 14:34] iamsebastian commented on #29
Just do a reference to the nickel.rs example: #48

[2016-08-08 18:11] cybergeek94 commented on #29
All examples have been completed! Thanks all!

[2016-08-08 18:11] #29 closed

[2016-09-22 22:12] White-Oak commented on #44
@abonander nickel has finally released a new version (0.9) that depends on `hyper 0.9`. I hope that finally lets multipart to update its hyper dependency as well :)

[2016-09-23 01:05] #44 closed

[2016-10-17 14:10] Drakulix opened #51 "Content-Disposition does not need to be the first entry"
As the title states multipart/form-data does not specify that Content-Disposition needs to be the first field in a request. The optional Content-Type might also be the first one.

Relevant Sections of the RFC:
https://tools.ietf.org/html/rfc2388#section-3
https://tools.ietf.org/html/rfc2388#section-5.5

multipart's inability to handle such requests recently caused brackage in one of my projects:
h

[2016-10-18 04:42] abonander commented on #51
@Drakulix Please clone the `httparse` branch and [override the dependency in your Cargo configuration](http://doc.crates.io/config.html) to see if it's fixed. This branch should not depend on the ordering of the headers anymore. It may throw an error if there are more than 4 headers per field, however. If you know how many different headers can appear, I can adjust that number.

[2016-10-18 08:25] Drakulix commented on #51
Thank you very much for that really quick fix.
I will try this out most likely today, altough I might have to update some dependencies to be compatible with multipart 0.9 (currently on 0.7).

Four headers should be far more then required, I will open a seperate issue for this, if it ever becomes a problem.

[2016-10-18 16:31] Drakulix commented on #51
Alright so I did an override I now if the order is reversed (old client still works), it loops over and over without finishing parsing, so I had to kill the server eventually.

Here is the end of the log, it really is all the same.
[code]

[2016-10-18 21:44] abonander commented on #51
The problem now is that the values of `name` and `filename` aren't quoted, which isn't what I expected. I can fix this but I would consider the Nuget client barely compliant here, it's doing some weird things.

[2016-10-18 22:22] abonander commented on #51
[RFC 7578](https://tools.ietf.org/html/rfc7578), section 4.2 continued on page 5:

   "filename*" parameter to the Content-Disposition header field, MUST
   NOT be used.

That key is easy enough to ignore though. Not quoting the other parameter value strings I would consider to be non-conformant.

[2016-10-19 01:11] abonander commented on #51
Do `git pull` on your local copy and try again please.

[2016-10-19 07:16] Drakulix commented on #51
I am sad to tell you, that it still loops:
[code]

Also the nuget client does a lot of very weird stuff (not limited to the HTTP requests), so I totally understand, if you would not want to support and non-conformant client. I was just hoping, that I would not have to open an issue on nuget, because that would likely take years to get accepted, which would mean, that I would have to fork multipart

[2016-10-19 07:38] abonander commented on #51
This may be a bug in the boundary parser cause half of the loop has a dash at the end, which is what it's looking for as the start of a boundary in the request body. It's probably not skipping hyphens correctly.

[2016-10-19 07:42] abonander commented on #51
I can't really push a commit because my Internet is down, but maybe you can try this fix for me. At line 75 in `src/server/boundary.rs` add a `+ 1` to the end of that expression and see if it fixes it. Off-by-one errors are a major source of bugs in this crate.

[2016-10-19 07:46] Drakulix commented on #51
Are you sure that you mean line 75? That one only contains a break:
https://github.com/abonander/multipart/blob/master/src/server/boundary.rs#L75

[2016-10-19 08:02] abonander commented on #51
That's `master`, not the `httparse` branch which you should be on. Anyway, my Internet came back up so I added the fix plus a test for it. It shouldn't be looping now.

[2016-10-19 08:04] Drakulix commented on #51
Yes that link was master, but it is actually the same line on httparse https://github.com/abonander/multipart/blob/httparse/src/server/boundary.rs#L75

anyway trying now

[2016-10-19 08:17] abonander commented on #51
Yeah I meant line 71, sorry.

[2016-10-19 08:29] Drakulix commented on #51
Still:

[code]

Do you need some test data to reproduce this yourself? Or do we want to continue like this? :smile:

[2016-10-19 09:23] abonander commented on #51
Yes please, because I can't figure out what would be causing the problem at this point. Just the raw body of the problematic request will do.

[2016-10-19 20:58] Drakulix commented on #51
Alright, this took a while as nuget is really picky until it finally sends the problematic request.
This dump should(!) be right. https://drive.google.com/open?id=0B4_MQl2ldbOzZHFqX3JqakVsM0U

[2016-11-03 21:17] ConnorGray opened #52 "examples/iron.rs fails to build with with rustc 1.12.1 (d4f39402a 2016-10-19)"
The build fails with this error:

error[E0277]: the trait bound `&mut iron::Request<'_, '_>: multipart::server::HttpRequest` is not satisfied
  --> src/main.rs:17:11
   |
17 |     match Multipart::from_request(request) {
   |           ^^^^^^^^^^^^^^^^^^^^^^^
   |
   = note: required by `<multipart::server::Multipart<()>>::from_request`

error: aborting due to previous error

[2016-11-03 22:59] ConnorGray commented on #52
Nevermind, had to learn about Cargo features.. Silly me..

[2016-11-03 22:59] #52 closed

[2016-11-11 02:19] abonander commented on #51
@Drakulix Sorry, forgot about this for a while. I think I've got it fixed with your test file. Can you try the newest revision of the `httparse` branch? I've also made a test binary that makes it easier to debug when you have a request body, just try the following with your test file:

    cargo run --bin test_multipart 4c396c90-ce20-4147-b8c3-95b1ec179e2e dump.bin

[2016-11-14 13:07] Drakulix commented on #51
Alright. You are right the dump works with this test. The server still does loop however. So I guess my dump is not correct or incomplete. I have no clue how I could get a better one.
Do you have another idea, how we could test this? (This issue is annoying...)
[code]

[2016-11-14 16:34] abonander commented on #51
@Drakulix I think I may be onto the problem, here's something to try:

At `src/server/boundary.rs:44`, replace that line with the following:

            let buf = try!(fill_buf_min(&mut self.buf, self.search_idx + (self.boundary.len() * 2)));

And for correctness' sake, revert the change we did at line 75, so change it back to:

    self.search_idx += idx;

I realized that the problem isn't appea

[2016-11-15 09:55] Drakulix commented on #51
Okay now we are onto something.
It finally finishes parsing but then panics with:
[code]
Iron catches this panic, but I will try to get a full stack trace for you. It looks just like another off-by-one error.

[2016-11-15 09:57] abonander commented on #51
I have an idea of where it's at but yeah, backtrace if you can please. I've had a lot of trouble with off-by-ones in this crate.

[2016-11-15 10:00] Drakulix commented on #51
[code]
Getting line number seems to be harder with iron wrapping the panic but still doable. Is this sufficient enough to track it down?

[2016-11-15 10:02] abonander commented on #51
Yeah there's not too many places I index a vector there, I'll just make sure they're all properly bounds-checked.

[2016-11-19 01:07] abonander commented on #51
@Drakulix I'm actually having trouble finding where an index would be out-of-bounds; are you sure you updated line 75? If that was left as-is then it could cause a bounds check failure, but other than that I really have no idea.

[2016-11-19 01:13] abonander commented on #51
If `self.boundary` is empty then line 61 would trigger a bounds-check assertion, but that would point to a bug somewhere else. Do you want to try adding the following at `src/server/mod.rs:86` between the `match` and the last statement of that block:

    assert!(!boundary.is_empty(), "Request provided a boundary string, but it was empty!");

[2016-11-19 01:16] abonander commented on #51
@Drakulix The reason you're not getting line numbers is probably because you're compiling without debug information, is that right? Are you just using `cargo build --release`? If so, you can add debug info back in by adding the following to your `Cargo.toml`:

    [profile.release]
    debug = true

[2016-11-21 11:27] Drakulix commented on #51
I just checked to be sure and of course you are right and I did a release build...

[code]

[2016-11-21 11:57] abonander commented on #51
@Drakulix So the panic actually started in `buf_redux`! That would have been good to know, haha.

Because of inlining (which is completely LLVM's doing, I don't have any `#[inline]` directives on non-trivial functions in that crate), functions in `buf_redux` were completely excluded from the stack trace! With debug information, however, the full stack trace can be reconstructed by the unwinder.

I

[2016-11-21 12:08] abonander commented on #51
So this is actually already fixed in my latest release of `buf_redux`, since I don't do zeroing the exact same way anymore. It's been fixed for a while, but I forgot to publish the 0.4 release and went straight to 0.5.

Anyway, I've added a regression test against this problem. Try changing the `buf_redux` dependency to `0.5.0` and see if it still panics.

[2016-11-21 12:46] abonander commented on #51
Alternatively, I have just published `0.9.0-alpha.3` with the updated version. Also please do a `cargo update` as I fixed another bug down the line in the process but it only required a minor version bump so it may not propagate through dependencies immediately.

[2016-11-21 13:00] abonander commented on #51
Actually, make that `0.9.0-alpha.4`. There was an error in `src/server/iron.rs` that I didn't catch before publishing, and didn't stop the publishing process because `iron` isn't a default feature, but which Travis-CI caught for me (whew!).

[2016-11-21 14:32] Drakulix commented on #51
Alright. Now I get an error when I unwrap the Params object, which seems to originate in multipart:
`IoError(Error { repr: Custom(Custom { kind: Other, error: StringError("early eof") }) })`

The reason I believe this is multiparts fault, is that it seems to fail to detect the boundary.
Here is the application log (nuget does three requests, until it gives up):
http://pastebin.com/msL18A9m

[2016-11-21 14:48] abonander commented on #51
I actually think it's a logic error in Hyper's request type where it doesn't like reading into a zero-length slice. I can solve that with a patch to `buf_redux` since it's functionally the same.

[2016-11-21 14:56] abonander commented on #51
@Drakulix Please run `cargo update` and try again.

[2016-12-01 04:46] cetra3 opened #54 "Chunked Requests do not work in Iron Framework"
Not sure where the problem lies here but appears that the multipart intercept in iron gets stuck on a chunked boundary.

Not normally an issue if you use this via curl, but the multipart hyper client appears to send it in chunks which is not read correctly by the multipart iron handler.

Steps to test:

* Submit to an [iron request](https://github.com/abonander/multipart/blob/master/examples/iron_

[2016-12-01 06:17] abonander commented on #54
I believe that I have resolved this in `0.9.0-alpha.4` as part of various fixes for #51. Try that version and see if it still has a problem.

[2016-12-01 07:55] cetra3 commented on #54
@abonander is `0.9.0-alpha.4` released here?  Or is it just on crates.io

[2016-12-01 08:27] abonander commented on #54
It is published on crates.io; the source is the `httparse` branch in this repo.

[2016-12-01 23:02] cetra3 commented on #54
@abonander it seems like it's better, i.e, it's finding the file, but I get the following error in the logs:

[code]

And the checksum of the file doesn't match, it appears to include the newline characters at the end of it (2 extra bytes).

### Before Upload

File contents:
[code]

Hex output:
[code]

### After Upload

File contents:
[code]

Hex output:
[code]

[2016-12-06 10:28] Drakulix commented on #51
Not sure what the latest state is, but this happens with the last commit from the httparse branch.

[hazel.txt](https://github.com/abonander/multipart/files/633544/hazel.txt)

[2016-12-07 04:11] abonander commented on #51
@Drakulix Did you run `cargo update` before building? I see the panic but I believe I fixed the problem already:

[code]

The problem with zero-sized reads should have been fixed in my last update to `buf_redux`.

 Please add `RUST_BACKTRACE=1` to your environment variables so we can get the backtrace.

[2016-12-09 17:02] SirVer opened #55 "Support returning MultiPart as a server reply"
I have a server that needs to return JSON metadata and several related binary blobs (Float32Arrays that are directly passed on to the GPU) in one reply. So far I return the blobs as base64 encoded strings in the JSON metadata, but decoding base64 into an array in the browser is slow.

I am thinking that through the [fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) I can inter

[2016-12-10 00:14] abonander commented on #55
How about an adapter that implements `Read`? With [`multipart::client::lazy::Multipart`](https://docs.rs/multipart/0.9.0-alpha.4/multipart/client/lazy/struct.Multipart.html) you can build your multipart body then call `.prepare()` which returns a type that implements `Read`, that you should then be able to return as your response body, or copy out to your response depending on what HTTP framework

[2016-12-10 12:52] SirVer commented on #55
That might work, but it still sounds complicated. Could you explain why tying the construction of the body of the HTML request is so strongly tied to a `Request` or a `Client`? Is that because of streaming?

[2016-12-13 02:36] abonander commented on #55
It's primarily to ensure that the right header is supplied with the request. The multipart boundary that separates each field in the body has to be supplied in the `Content-Type` header of the request, and each HTTP framework does headers slightly differently. This approach has better ergonomics for the common case where you're constructing the multipart body in the process of submitting a request

[2016-12-13 09:33] Drakulix commented on #51
Next try (now definitely with the latest versions).
nuget does 3 request, every one is failing with an internal server error because of a panic.

[hazel.txt](https://github.com/abonander/multipart/files/648451/hazel.txt)

[2016-12-14 08:17] SirVer commented on #55
Thanks for explaining everything!

I took a different approach for my problem now, so this is not required for me anymore and I think my use case was rather esoteric. I would suggest you do not pull the code out until the next one with a similar problem comes around. Closing the issue for now.

[2016-12-14 08:17] #55 closed

[2016-12-14 09:31] abonander commented on #51
Yeah, when adding some randomness to my local tests, I've found that my implementation isn't all that robust. I'm working on it, though.

[2016-12-14 12:39] abonander commented on #51
@Drakulix Try with `multipart = "0.9.0-alpha.5"`. I've rewritten a lot of the boundary parsing and now it should handle partial reads better.

[2016-12-14 12:40] abonander commented on #54
@cetra3 Try with multipart = "0.9.0-alpha.5". I've rewritten a lot of the boundary parsing and now it should handle partial reads better.

[2016-12-14 17:27] Drakulix commented on #51
Well now I get a conversion error on src/client/lazy.rs:305 and cannot compile it anymore.
I am currently stuck with rust 1.10 without updating a good amount of libraries, so if that is the problem, I might need some more time to report back.

[2016-12-14 21:54] abonander commented on #51
Yeah, I didn't realize that conversion was actually very recently added until Travis failed on Stable. I'll figure something out to fix that.

[2016-12-14 23:19] abonander commented on #51
I've published `0.9.0-alpha.6` which doesn't use that anymore.

[2016-12-17 02:43] abonander opened #56 "Implement nested boundaries"
This is a feature I've been putting off for a while because I wasn't sure how to approach it. Still not quite sure, but I needed a reminder somewhere so I don't forget it.

[2016-12-23 00:43] abonander commented on #51
@Drakulix Can I get one more test run please?

[2016-12-23 01:17] abonander commented on #54
Ping @cetra3, I'm waiting for your response (and someone else's) before I publish `0.9.0`.

[2016-12-25 20:46] Drakulix commented on #51
@abonander
Sorry about the late reply, I am just very busy especially on the holidays right now. You will get a new log tomorrow, I promise.

[2017-01-02 10:52] Drakulix commented on #51
[hazel.txt](https://github.com/abonander/multipart/files/680657/hazel.txt)

I am deeply sorry this took so long.

[2017-01-04 14:58] flosse opened #57 "support rocket"
Related issues:
 - https://github.com/SergioBenitez/Rocket/issues/106
- https://github.com/SergioBenitez/Rocket/issues/105

[2017-01-05 22:06] SergioBenitez opened #58 "MultipartData is not composable due to lifetime restrictions"
Hello!

I'm considering using your library in [Rocket](https://github.com/SergioBenitez/Rocket), but the lifetime restrictions imposed by `MultipartData` make any kind of meaningful composition or abstraction impossible. For instance, it is not possible to call a function that creates a `Multipart` structure, reads a `MultipartData` entry from a stream, and returns a `MultipartFile`. This same res

[2017-01-05 22:07] SergioBenitez opened #59 "Testing"
The library seems to be devoid of any meaningful testing. What is the testing story? How confident are you that the library _works_?

[2017-01-05 23:39] abonander commented on #58
Do you mind showing me what you're trying to do? The borrowing has generally not been an issue before, and I'm hesitant to make such a sweeping change for one framework. There is `Multipart::save_all()` which provides owned copies of all fields (saving streams to temporary files).

[2017-01-05 23:48] SergioBenitez commented on #58
I mentioned my use case in the original post:

This isn't about changing your library to work with _one_ framework, this is about ensuring your library can meet any applicable use case. At present, you're imposing a rather strong restriction; your library is literally impossible to use under certain scenarios, and the restriction is unnecessary. As far as I can tell, your library is the most compl

[2017-01-05 23:50] abonander commented on #58
Does the `save_all()` method work or do you find going to the filesystem undesirable? It doesn't use the filenames supplied in the request.

[2017-01-05 23:53] SergioBenitez commented on #58
I don't want to save to the file system unnecessarily. I want the caller of the function to determine what to do with the file stream. For instance, it should be trivial to gzip the stream without copying the contents to the file system unnecessarily. I want a stream end-to-end.

[2017-01-06 00:00] abonander commented on #58
And allowing the user to consume the `Multipart` directly isn't acceptable?

[2017-01-06 00:01] SergioBenitez commented on #58
No. That's the "abstraction" part.

[2017-01-06 00:07] JuanPotato commented on #59
https://github.com/abonander/multipart/blob/master/src/local_test.rs

I'd say he's pretty confident

[2017-01-06 00:08] abonander commented on #59
There is an *in vivo* test under `src/local_test.rs` where the client-side "sends" a request to the server-side via an in-memory buffer, and then checks that it parses all fields correctly. It also randomizes the size of reads, which has helped find bugs in boundary parsing. The problem with testing is that a lot of bugs have arisen from unpredictabilities in network transports, chunking, etc., an

[2017-01-06 00:21] SergioBenitez commented on #59
@JuanPotato We must have different definitions of confident.

@abonander #51 is exactly what prompted this issue. I'm not sure what you mean by "unpredictabilities in network transports, chunking". These things should be handled at a level above your library. Can you expand on what you mean?

When looking at testing, I expect to see many many real world inputs and expected outputs, especially "str

[2017-01-06 00:46] abonander commented on #59
Everything takes time to implement, and my focus is constantly shifting and I also have bills to pay. For the most part, it's just me maintaining this crate.

[2017-01-06 08:48] Boscop commented on #54
I'm always getting "Unexpected 2-bytes after boundary: [0, 0]" when trying to upload images as part of a form [like this](https://github.com/TheNeikos/furry.cafe/blob/master/src/views/submission.rs#L71).

[2017-01-06 13:26] abonander commented on #54
@Boscop Try `multipart = "0.9.0-alpha.9"`, there's a lot of bugfixes that are almost ready for a full release.

[2017-01-07 08:09] Boscop commented on #54
I'm using the params crate which depends on multipart 0.8.1. So I can't use [replace]  to use a different version...

[2017-01-10 22:37] abonander commented on #54
@Boscop You can try cloning `params` locally and updating the `multipart` version but I'll probably just go ahead and publish a release version.

[2017-01-18 07:16] SergioBenitez commented on #58
Following up on this. Have you given this any more thought, @abonander?

[2017-01-18 19:49] abonander commented on #58
I have some ideas on how to make this work without breaking existing usage. I'll get back to you.

[2017-01-19 07:34] abonander commented on #58
@SergioBenitez

* https://docs.rs/multipart/0.10.0-alpha.1/multipart/server/struct.Multipart.html#method.into_entry

* https://docs.rs/multipart/0.10.0-alpha.1/multipart/server/struct.MultipartField.html#method.next_entry

* https://docs.rs/multipart/0.10.0-alpha.1/multipart/server/struct.MultipartField.html#method.next_entry_inplace

[2017-01-20 22:58] abonander commented on #58
I ended up making the `multipart: M` fields private because I also wanted to implement nested multipart fields (e.g. a file field with more than one file selected) and the way I wanted that to work necessitated more control over the inner `Multipart`. The changes are on `0.10` branch, I have a couple more changes to make before I publish another alpha.

[2017-01-24 19:57] SergioBenitez commented on #58
Awesome! This looks like it'll do what I need.

Am completely inundated with work for the next week or so but will play with this afterwards.

[2017-02-06 08:54] Matrix-Zhang opened #60 "not support iron 0.5"
not support iron 0.5

[2017-02-17 03:37] SergioBenitez commented on #58
Finally had a chance to give this a try. While the API seems like it will work (though I do find it a bit clumsy to work with), I've hit a bug. Here's what I'm doing, in pseudocode:

[code]

The issue is that the program hangs on the call to `next_entry()`. My guess is that there's something wrong with whatever is reading from the body. This happens _every time, so this should be easy to add a tes

[2017-02-21 02:43] SergioBenitez commented on #58
@abonander Have you had a chance to mull over my last comment? This is a showstopper.

[2017-02-21 03:05] abonander commented on #58
I'm working on it.

[2017-02-21 03:24] SergioBenitez commented on #58
Awesome! Thanks. :)

[2017-02-21 21:18] abonander commented on #58
I've published `0.10.0-alpha.2` which addresses the hang and I think the problem with `save_to_limited()` as well. If the latter is still an issue, can I see the part of the file or stream that's corrupted? Otherwise I'm just left guessing. I'm working out how to add file saving to the integration test in a way that's reproducible.

In the process of fixing the hang I also added the entry API to `

[2017-02-22 01:06] abonander commented on #56
Closing as I decided to leave this unimplemented. The complexity it adds doesn't appear to be worth it.

[IETF RFC 7578, Appendix A](https://tools.ietf.org/html/rfc7578#appendix-A) claims:

(Emphasis mine.)

Prototype implementation is archived on the `nested-archive` branch for posterity.

[2017-02-22 01:06] #56 closed

[2017-02-25 08:01] heartsucker opened #66 "Trait HttpRequest not implemented for iron::Request"
I have these dependencies.

[code]

But I am getting this error.

[code]

I know this is related to issue #47, but messing with the dependencies and their versions still won't compile. I feel like this is non-intuitive. What does my `Cargo.toml` need to look like to make the compiler happy?

[2017-02-25 08:11] abonander commented on #66
Multipart 0.9 matches up with Iron 0.4. I have a more permissive version range including Iron 0.5 coming in 0.10 but there still some more changes I want to make on it before I publish.

[2017-02-25 09:46] heartsucker commented on #66
Got it. This is a hard requirement for something I'm working on, so is there anything you need contributed?

[2017-02-25 16:02] abonander commented on #66
Just feedback on the changes on the 0.10 branch. I've been working hard on improving the ergonomics of saving files.

[2017-02-26 00:56] yrashk commented on #66
As a piece of meta-feedback: For me personally, the ergonomics of saving files are less relevant (I do `Read` based streaming) than having up-to-date Iron.

P.S. Thanks a lot for writing this crate! ❤️

[2017-03-03 23:22] #51 closed

[2017-03-03 23:22] #54 closed

[2017-03-03 23:22] #58 closed

[2017-03-03 23:22] #60 closed

[2017-03-03 23:22] #66 closed

[2017-03-05 22:10] abonander opened #67 "Convert header parsing to return errors"
Currently header parsing will just return `None` if it couldn't parse a header and log an error where it should probably just return errors instead.

[2017-03-05 23:04] abonander commented on #59
I've started fuzzing. It has been pretty helpful but also a bit tedious. I've been able to tease out a few different infinite-looping bugs so far. It seems to have generated a large corpus of test inputs, it'll take a while to sift through those and see what errors they actually cause.

[2017-03-09 20:15] sevagh opened #69 "Different behavior from `curl -T`"
Hello,

I have a curl request which works (uploading jars to remote Artifactory repo):

`curl -i -k -X PUT my_url -T path/to/my/file`

 With hyper and multipart, with the following code, I get a response back from Artifactory (HTTP 201) but the file is never uploaded:

[code]

So, have I missed a header that `curl -T` sets?

Thanks.

[2017-03-09 22:09] abonander commented on #69
After doing some research, it appears that `curl -T` is *not* a multipart request. It's just writing the file directly to the stream. You don't need `multipart` at all for this case.

[2017-03-09 22:09] #69 closed

[2017-03-09 22:25] sevagh commented on #69
Thanks.

[2017-03-16 04:10] little-dude commented on #67
I'd like to try this if that's ok. I'll make a PR tonight or tomorrow.

[2017-03-16 04:12] abonander commented on #67
Please, go ahead! There's probably more parts of the API that could stand to return results instead of nothing, any input is very much welcome.

[2017-03-17 03:25] ratijas opened #71 "how about bumping `hyper` version up to 0.10?"
[code]
is just too bad for simple version mismatch :(

[2017-03-17 03:27] abonander commented on #71
Oh I don't have an issue for this here. It's blocked on Nickel upgrading, as usual. I've considered just dropping support or moving it to an external crate.

[2017-03-17 03:47] ratijas commented on #71
well, it started as an investigation about compiling two versions of `openssl-sys` at once, and now it ended up as `mutipart` vs. `hyper` over `nicker` fight…

something somewhere went terribly wrong :D

btw, i heard some positive reviews about elixir.  would you recommend it over python for writing chat bots?

[2017-03-17 03:59] abonander commented on #71
I've never used Elixir. It all depends on what you're comfortable with. If you're looking to learn a language, Rust is a good choice but there's still a lot of churn in the webdev ecosystem.

If you're looking for a higher-level client API, you might be interested in [reqwest](https://crates.io/crates/reqwest) (authored by one of Hyper's core maintainers) or my own recently published [Anterofit](h

[2017-03-17 04:05] ratijas commented on #71
missed reply, nevermind.  all that elixir stuff, i mean, it was for another guy in another thread…

anyway, i solved my problems through downgrading to `hyper` 0.9.  works for now.

[2017-03-21 01:38] abonander opened #73 "Pin minimum Rust version to 1.13, use `?` everywhere"
cc @little-dude

[2017-03-21 16:48] little-dude commented on #73
Yeah, I'll take this! Thanks!

[2017-03-30 18:41] #73 closed

[2017-03-30 18:45] abonander commented on #67
Closed by #70

[2017-03-30 18:45] #67 closed

[2017-03-30 18:55] abonander opened #77 "Add some sort of benchmarks"
- Benchmark boundary reading using types from the `mock` module.
- Show comparison with `sse` feature to see if it provides a speedup.

[2017-03-30 19:25] #71 closed

[2017-04-15 19:44] rofrol commented on #57
Example how to use with Rocket http://stackoverflow.com/questions/43424982/how-to-use-rocket-and-abonander-multipart-in-rust-language

[2017-04-19 10:18] abonander commented on #57
I think Rocket wants to provide support for multipart forms themselves, so I'm going to forego providing integration on this end.

[2017-04-19 10:18] #57 closed

[2017-05-03 19:26] kpcyrd opened #79 "Doesn't work with recent hyper"
I've tried to copy the [hyper_reqbuilder.rs][1] into my project, but this seems to fail due to:

[code]

I've tried to downgrade to hyper 0.9, but this fails as well due to `openssl 0.7.14` being unable to compile.

[1]: https://github.com/abonander/multipart/blob/master/examples/hyper_reqbuilder.rs

[2017-05-04 07:23] abonander commented on #79
I can't reproduce this. Could you post your Cargo.lock?

[2017-05-06 23:50] kpcyrd commented on #79
@abonander sorry for the late reply, here's my Cargo.lock:

[code]

[2017-05-07 08:02] abonander commented on #79
It looks like you're pulling in Nickel as well, which might be what's forcing Multipart to use Hyper 0.9.18. Do you actually need that?

[2017-05-07 13:35] kpcyrd commented on #79
nickel is the webframework I use, so yes :)

It seems this is already a known issue https://github.com/nickel-org/nickel.rs/issues/395

The repo seems to be inactive, so I might have to migrate away from it.

[2017-05-08 02:30] abonander commented on #79
Yeah you can't use Hyper 0.10 with Nickel, it has to be 0.9. I have a crate specifically for integrating with Nickel since they're always using out-of-date Hyper: https://crates.io/crates/multipart-nickel

[2017-05-08 03:09] abonander commented on #79
Closing since it's not an issue with Multipart.

[2017-05-08 03:09] #79 closed

[2017-05-09 11:32] sbwtw opened #80 "Content-Length header not provide"
the `Content-Length` header is not set in request.

[2017-05-09 18:23] abonander commented on #80
Are you using `multipart::client::Multipart::from_request_sized()`?

[2017-05-10 01:46] sbwtw commented on #80
My code: https://github.com/sbwtw/pidgin-wechat/blob/master/src/server.rs#L734

[2017-05-10 02:06] abonander commented on #80
That won't set the `Content-Length` header. If you want that you need to use `Multipart::from_request_sized()` but it uses an in-memory buffer to write everything to so it can measure the size.

[2017-05-10 04:38] sbwtw commented on #80
ok, `from_request_sized` is work.

[2017-05-10 04:38] #80 closed

[2017-05-29 06:06] drahnr opened #81 "hyper `write_stream` with `ContentLength`"
The use case I am trying to accomplish is creating a client which pushes a file and some meta parameters using multipart.
The remote requires the `ContentLength` header to be set.

How do I achieve this? How do I calculate the total length from the two finite length and known length streams? I need to use add_stream to manually set mime and name appropriately.

        let request = Request::with_

[2017-05-29 06:15] drahnr commented on #81
The first idea was to use

    request.headers_mut().set(ContentLength(meta_json.len() as u64 + size_srpm as u64));

but that results in

    failed to write whole buffer

when spawning the multipart struct

[2017-05-29 06:27] drahnr commented on #81
The following produces the same error:

[code]

[2017-05-29 06:38] drahnr commented on #81
Total length is `1260944` [ bytes ] which is not too much to allocate ..

[2017-05-29 09:39] sb89 opened #82 "Hyper client vs lazy Hyper client issue"
I have the following 'lazy' code:
[code]

which returns a 400 error.

And the following 'non-lazy' code:
[code]
which works fine.

So what am I doing wrong with the 'lazy' version?

[2017-05-29 12:55] drahnr commented on #82
can you also add the output? not sure if the lazy also populates `ContentLength` header which some web APIs request

[2017-05-29 13:05] sb89 commented on #82
The telegram JSON error is

[2017-05-29 14:48] drahnr commented on #82
Where is the API for `sendDocument` - it is not in https://core.telegram.org/methods

[2017-05-29 15:59] sb89 commented on #82
I resized my image to be 1px x 1px and the 'lazy' method worked, could it be that the lazy method isn't handling larger files correctly?

[2017-05-29 19:06] drahnr commented on #82
This could be the same issue as https://github.com/abonander/multipart/issues/81

[2017-05-29 19:21] sb89 commented on #82
The buffer threshold is definitely causing this.

[2017-05-30 21:11] abonander commented on #81
The `ContentLength` value has to be the whole size of the body, including multipart boundaries and field headers.

If you use `Multipart::from_request_sized()` it will set the `ContentLength` header correctly, though the implementation is incredibly naive; it just writes the whole request to an in-memory buffer to get the length that way and then writes it out to the stream in one fell swoop.

[2017-05-30 21:54] abonander commented on #82
Admittedly, that codepath has not been very well tested. I'm open to suggestions, otherwise I'll try to see if I can reproduce the problem at least. I imagine `PreparedField::Partial()` isn't getting written out completely.

[2017-05-30 22:09] sb89 commented on #82
I am not aware of the purpose of the buffer threshold (I haven't look at it in any great detail) but if that is to remain, does it need to be configurable when sending a request?

To get around this issue for the moment, I have created a fork that allows for a configure threshold.

[2017-05-30 22:11] abonander commented on #82
You can use `prepare_threshold()` which changes how much gets buffered up-front. It seemed like a good optimization at the time but now I don't know.

[2017-05-30 22:17] sb89 commented on #82
Yes, my change is to use `prepare_threshold()` in `client_request_mut` instead of `prepare()`, as that just uses the default threshold which isn't enough.

[2017-05-31 19:52] abonander commented on #82
If the code was working correctly, the size of the buffer shouldn't matter.

[2017-05-31 19:59] drahnr commented on #81
Understood, I ended up doing exactly that.

I think there is no other way around that since the headers are only to be written with Request<Fresh> where body is only to be written with Request<Streaming> given hypers implementatio.

[2017-05-31 20:00] #81 closed

[2017-06-15 04:05] #82 closed

[2017-06-15 04:05] abonander commented on #82
Publishing `0.13` which should have this bug fixed.

[2017-06-25 18:55] e00E commented on #40
@abonander
As far as I can tell Hyper is now async and I cannot use this crate with it anymore, is that correct?

[2017-06-26 02:27] abonander commented on #40
It still works with Hyper 0.10 and below. I am working on a version that supports asynchronous requests but I'm not sure if I want to publish it as a separate crate or what. I can make everything work in the same crate and it can share a lot of code, which is a big plus. The downside is that, to support two different versions of Hyper I will have to move one to a separate crate. I was actually thi

[2017-06-26 10:14] chpio commented on #40
cool, i thought about that too, i had started a toy project for that

is this really nececery? if anyone needs legacy support they can just use an old version of multipart?!

[2017-06-26 23:53] abonander commented on #40
The issue with having legacy users "just use an old version" means that they won't get any performance improvements or bugfixes, or backwards-compatible API improvements, without an additional effort to backport them. With all unstable public dependencies relegated to the `legacy` crate, the core crate can reach 1.0 relatively quickly, and then the legacy crate can be set at `multipart = "^1.0"` w

[2017-06-27 14:58] chpio commented on #40
yeah, but you could just let them use an "older" SemVer-version and backport feature (i don't know how as i assume the code for async and sync is very different)/fix bugs for that version (say 1.x being the async version and 0.x the sync; and on the dev side *sync* branch for the 0.x/sync version and "master" for the 1.x/async part). Also they wouldn't need to "upgrade" to another crate.

ok, so "

[2017-06-27 20:10] abonander commented on #40
1.x can't be the async version as it would still expose public dependencies that are not yet 1.x. Backporting is a bit of a pain, especially if the internals changed between releases. It's not always as simple as cherry-picking commits. And I intend that migrating to the new crates should be relatively painless, with future upgrades being done automatically.

What code I intend to share between as

[2017-07-03 21:23] bb010g opened #85 "Use streaming-iterator for Multipart::foreach_entry"
In the documentation for [`server::Multipart::foreach_iterator`](https://docs.rs/multipart/0.13.1/multipart/server/struct.Multipart.html#method.foreach_entry), you use an internal iterator due to Rust's iterators not supporting elements that borrow from the iterator. There is a [streaming-iterator](https://crates.io/crates/streaming-iterator) crate with a [`StreamingIterator`](https://docs.rs/stre

[2017-07-03 21:45] abonander commented on #85
I've been aware of the `streaming-iterator` trait for a while, but it currently does not support this use-case very well. The problem with the `StreamingIterator` trait is that it only supports yielding immutable references to items whereas the API I want actually needs a higher-kinded lifetime bound on `Self::Item` and then binds that lifetime to `self` on `fn next(&mut self)`, for example, with

[2017-07-26 14:32] dariost opened #86 ""Could not read field headers" with specific body"
I have an application built with Rocket which let the users upload files via a form using the multipart format.
It has more than 100 successful uploads, but there is a single file which triggers the "Could not read field headers" error. I've uploaded this file with a simple use of multipart (it is entirely possibile that I'm using multipart in a wrong way) [test_error.zip](https://github.com/abona

[2017-07-26 17:58] abonander commented on #86
That error message is returned here:

https://github.com/abonander/multipart/blob/master/src/server/field.rs#L53

Which suggests that the field headers for that file in a multipart request don't fit in an 8K (!) buffer.

However, can you verify what version of `multipart` you're using? The formatting of error messages is different in the most recent version.

[2017-07-26 18:19] dariost commented on #86
I'm using the latest git version (commit aed39628), but I've tried also with 1.13.1 and 1.12.0 with the same result.

Additional info which might be useful: this multipart body was generated by Firefox Nightly (56.0a 2017/07/26) and I'm using rustc 1.21.0-nightly (c417ee9ae 2017-07-25) (but I've also tried with rustc 1.19.0 which gives the same result)

[2017-07-26 18:56] abonander commented on #86
That's funny how it changes the error message, it should be a lot noisier, honestly. (And the error message could be better).

The test project and dump is very helpful. I thought the zip file was the one actually giving you the problems so that saves me from having to reproduce it.

So even with the file contents removed, this still produces an error:

[code]

I should be able to work with this t

[2017-07-26 23:33] abonander commented on #86
So the problem is that the boundary you're passing has the `--` prepended that the spec wants, but `multipart` automatically prepends this too, so the boundary it's looking for has two more hyphens than actually appear in the request body. It's so difficult to see because of all the rest of the hyphens being used as padding characters (who knows why they decided to do that).

This is causing `mult

[2017-07-27 13:54] nahumclements opened #87 "Missing field data when field contains multiple headers"
I'm having trouble using the `multipart` crate to parse message bodies where a multipart field contains multiple headers. Fields that only have a Content-Disposition header are successfully parsed but fields that have multiple headers do not seem to be able to extract the field data.

It's possible that I'm misusing `multipart` but I have a [minimal repro](https://github.com/abonander/multipart/fi

[2017-07-27 21:48] abonander commented on #87
So this isn't because of multiple headers. When a `Content-Type` header is given for a field, regardless of the given MIME type, Multipart assumes that it is a file; `.as_text()` will return `None`.

I'm not sure if I consider this a bug, for multiple reasons:

* A `Content-Type: text/plain` field will almost always have come from a text file with a filename, which the user might want to inspect o

[2017-08-01 13:55] dariost commented on #86
Just letting you know I posted a bounty for this issue

[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=47624485)](https://www.bountysource.com/issues/47624485-could-not-read-field-headers-with-specific-body?utm_source=47624485&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2017-08-01 21:03] abonander commented on #86
I do already have a fix for this on the `0.13` branch, though if you still prepend the `--` now it just produces *no* entries because it can't find the boundary. I also added a note to `Multipart::with_body()` about it. I just forgot to publish an update.

[2017-08-01 22:19] dariost commented on #86
I'm using the latest commit of branch "0.13", but there seems to be another problem: I've made another example ([test_error2.zip](https://github.com/abonander/multipart/files/1192099/test_error2.zip)), this time the boundary is correct (it hasn't the `--` prepended) but it still gives no entries (it doesn't print `An entry!` even if there is one)

[2017-08-01 22:37] abonander commented on #86
Yeah, looks like I introduced a logic bug, weird cause it was working when I tested it the first time.

[2017-08-01 22:45] dariost commented on #86
Also, another thing I found out that happens when using the latest commit from branch "master", for some reason this ([test_error3.zip](https://github.com/abonander/multipart/files/1192155/test_error3.zip)) example panics, even if the multipart is valid and the boundary is correct

[2017-08-05 18:03] #86 closed

[2017-09-19 00:56] cetra3 opened #89 "Multipart not working between Iron server and Hyper client"
Sort of related to this ticket: https://github.com/abonander/multipart/issues/54, doesn't appear to be decoding stuff correctly between examples.

Steps to replicate:

* Create a `lorem_ipsum.txt` file:
[code]

* In one terminal run the iron example:
[code]

* In another terminal run the hyper_client example:
[code]

## What you should see

In the iron terminal:
[code]

## What you see

Just the t

[2017-09-19 18:08] kardeiz opened #90 "`Entries` discards values for repeated fields"
Because `Entries` stores its `fields` (non file form data) as `HashMap<String, String>`, all but the last value of a repeated field (e.g., `subjects[]`) are discarded, which is really bad.

I think the best solution would be store these as `Vec<(String, String)>`, which could easily be collected into a `HashMap<String, String>` or `HashMap<String, Vec<String>>` as necessary. However, this would ha

[2017-09-20 07:26] abonander commented on #89
Try the latest on the `master` branch.

[2017-09-20 07:33] cetra3 commented on #89
I've tried the code on the following commit:

[code]

[2017-09-20 07:56] abonander commented on #89
I forgot I had to rebase before I pushed. The commit hash you want is `53a8ff7`.

[2017-09-21 18:15] abonander commented on #89
Also published as `0.13.2`.

[2017-09-23 07:38] little-bobby-tables commented on #87
I wonder if it's possible to expose `read_to_string()` from `PrivReadEntry`, so a field could be read like this:

[code]

This can be documented as a low-level method, and it'd allow you to keep the higher-level `File` and `Text` abstractions while still letting the users handle edge cases themselves.

As for the security aspects, I don't think this should be the concern of the crate. A heads-up i

[2017-09-23 07:46] abonander commented on #87
I think I'd probably prefer to drop the distinction altogether, like I did in `multipart-async`, and yeah provide a `.read_to_string()` which should nicely override with `Read::read_to_string()`.

[2017-09-23 07:50] abonander commented on #87
Actually it shouldn't be `.read_to_string()` because the precedence is always inherent -> trait if both can be resolved: https://play.rust-lang.org/?gist=fdff31ebe6ee948c746082edafe893eb&version=stable

So probably `.read_string()` instead.

[2017-10-17 23:07] jolhoeft opened #93 "Windows Text File Parsing Problem"
When uploading textfiles created on windows (CR+LF endings), a CR+LF at the end of the file will interact badly with BoundaryReader::read_to_boundary where is decides whether to back up two characters (https://github.com/abonander/multipart/blob/c5b407dd4d89166dfa86da9e387f3bd54da6600d/src/server/boundary.rs#L87-L97). When this happens the header parsing fails with a confusing "invalid header name

[2017-10-18 03:33] abonander commented on #93
I see the logic error, pretty simple fix though. Thanks for bringing this up.

[2017-10-18 04:20] jolhoeft commented on #93
Excellent. I just tested a textarea, and not surprisingly, that can trigger this too.

[2017-10-18 05:43] abonander commented on #93
Yeah it's anywhere you have two CR-LFs after a boundary. I guess I should treat this as two independent bugs:

* The `BoundaryReader` should not back up by more than one CRLF pair
* `parse_headers` should trim newlines before attempting to parse anything
    * because, to my understanding, this wouldn't be considered a malformed request; the advice is be strict in what you send but liberal in what

[2017-10-19 13:35] PSeitz opened #94 "In Memory instead TempFile"
Is there a way to avoid storing the contents in a temp file and just handle the upload in memory?

[2017-10-19 20:18] abonander commented on #94
It's doable, I was just worried about potential DoS attacks by an attacker just streaming in a large request body until the server process runs out of memory. Dumping to a file is at least slightly safer, but I guess I can adapt `SaveBuilder` pretty easily to copy it into memory with a size limit.

[2017-10-20 10:40] PSeitz commented on #94
For many smaller files this should even improve DoS resistance.
In my case I always need the complete contents in memory so there is no gain when caching to the file system.
I meant the save() api, but direct access to the stream would also be nice.

[2017-10-21 23:09] abonander commented on #90
closed by #91 (waiting to publish until I address #93)

[2017-10-21 23:09] #90 closed

[2017-11-10 23:07] therealbstern commented on #93
This also happens when you have trailing newlines without the `\r`.  I submitted a multipart textarea that ended with `\n\n` and multipart barfed.

[2017-11-26 22:33] abonander commented on #93
@therealbstern can I see a raw request body for repro?

[2017-11-26 22:48] abonander commented on #93
I ask because I think I was able to repro and fix the original issue here: https://github.com/abonander/multipart/blob/master/src/server/boundary.rs#L366

But when replacing the first CRLF with LFLF, the same repro doesn't fail the test, before or after the fix: https://github.com/abonander/multipart/blob/master/src/server/boundary.rs#L408

[2017-11-27 00:12] abonander commented on #89
@cetra3 Still having trouble with `0.13.4`?

[2017-11-27 08:10] therealbstern commented on #93
Sure, I'll get it to you tomorrow!

[2017-11-27 23:44] therealbstern commented on #93
Here's the headers, lightly edited, but with all of the lengths correct.  This was captured by the "Live HTTP Headers" extension for Firefox.  If you need a tcpdump, let me know.  [double-nl.txt](https://github.com/abonander/multipart/files/1507980/double-nl.txt)

The field "source" is the one you want.  The data came from a `textarea` with the following contents:

   Just a test↵↵

Leading spaces

[2017-11-28 01:09] abonander commented on #93
It looks like the client converts all the newlines to CRLF because I'm only seeing `\r\n` pairs, which would have triggered the previously discussed bug if there was a trailing newline in any field. I can't figure how an `\n\n` would cause any problems because the code never looks for individual LF characters.

Does it still occur if you update to `0.13.4`? That has the fix in it.

[2017-11-28 09:54] FalacerSelene opened #95 "Incompatibility between 0.13.4 and 0.13.3"
The recent release of 0.13.4 changes the API for interacting with an `entries` struct:

- [0.13.3 docs](https://docs.rs/multipart/0.13.3/multipart/server/save/struct.Entries.html)
- [0.13.4 docs](https://docs.rs/multipart/0.13.4/multipart/server/save/struct.Entries.html)

As per [Cargo docs](http://doc.crates.io/specifying-dependencies.html), crates with major version 0 are expected to be compatib

[2017-11-28 22:45] abonander commented on #95
Sorry, I forgot that `master` had backwards incompatible changes on it. Yeah, I'll be yanking `0.13.4` and publishing `0.13.5` with that commit cherry-picked.

[2017-11-29 05:28] abonander commented on #95
Closed in CC'd commit and published as 0.13.5. `master` is now WIP for 0.14 and any development on 0.13.x will be on branch `0.13`.

[2017-11-29 05:28] #95 closed

[2017-11-29 07:38] abonander commented on #94
Actually because `Vec<u8>` and `&mut Vec<u8>` implement `Write`, you can do `multipart_file.save().write_to(&mut vec)` which will also handle the size limit if you set one. I think I can parameterize `Entries` so that the files can either be `PathBuf` or `Vec<u8>` depending on how they were saved.

[2017-12-08 21:52] therealbstern commented on #93
We're taking a look at that right now and will get back to you shortly.  Thanks!

[2017-12-09 00:09] jolhoeft commented on #93
I've tested under linux, and by uploading an SVG file with CRLF line endings and it is working fine. Once I get a chance to test on a windows machine, I think we'll be able to call this fixed.

[2017-12-09 19:18] jolhoeft commented on #93
Working fine with windows too, closing.

[2017-12-09 19:18] #93 closed

[2017-12-17 19:28] abonander opened #96 "Request-for-Comments Discussions"
I have left a number of Request-for-Comments (RFC) questions on various APIs and other places
in the code as there are some cases where I'm not sure what the desirable behavior is.

This issue is a place to collect responses and discussions for these questions.

Please quote the RFC-statement (and/or link to its source line) and provide your feedback here.

[2017-12-21 11:28] anjumkaiser opened #97 "unable to compile with iron 0.6"
Unable to compile with iron 0.6.0

`
error[E0277]: the trait bound `&mut iron::Request<'_, '_>: multipart::server::HttpRequest` is not satisfied
   --> src/bin/store-backend\server\routes\mod.rs:485:31
    |
485 |     let mut form_data = match Multipart::from_request(req) {
    |                               ^^^^^^^^^^^^^^^^^^^^^^^ the trait `multipart::server::HttpRequest` is not implemented for

[2017-12-21 18:01] abonander commented on #97
I widened the Iron version range to include `0.6.x` and published that as `0.13.6`. It seems to work without any other changes.

[2017-12-21 18:01] #97 closed

[2017-12-25 04:03] abonander commented on #94
I have a preliminary API for this on `master` now in https://github.com/abonander/multipart/blob/master/src/server/save.rs. Check it out and let me know what you think.

[2018-01-30 14:17] nappa85 opened #98 "HTTPS/TLS support"
I know it's not an issue directly connected to multipart, but it's chain's closing ring...

I need to send a multipart/form-data submit to an https address, I searched for a working example without luck, so I tried to merge different examples from hyper_native_tls and multipart.
I haven't beed able to find a method to specify a call method (GET, POST, PUT, ecc...).

You can find my code here: http

[2018-01-31 00:40] abonander commented on #98
Multipart is done exclusively with the `POST` verb. This is handled in `Multipart::client_request()`. As far as I can tell, your usage is correct; the error is coming from a `write()` call that returns zero bytes written from a non-empty buffer (I assume it's a non-empty buffer, if not that's a bug in Multipart).

[2018-01-31 03:26] abonander commented on #98
Okay, I've run your test and gotten the error but there's something I don't understand. The only occurrence of that error string is `src/server/save.rs` which is *the wrong side of the API*. I'm not sure what's going on here.

[2018-01-31 03:28] abonander commented on #98
Ah, I see, it also occurs in [the `Write` impl for `&mut [u8]`](https://github.com/rust-lang/rust/blob/f338dba29705e144bad8b2a675284538dd514896/src/libstd/io/impls.rs). It's when the slice is smaller than the input data, which is... not optimal.

[2018-01-31 06:10] abonander commented on #98
I stepped through this with a debugger and it doesn't seem to be Multipart's fault. The error occurs when trying to write to the network stream, after `io::copy()` has read all of `PreparedFields`'s data to a buffer on the stack. This may be an issue with hyper-native-tls, I don't know.

[2018-01-31 07:16] nappa85 commented on #98
Thank you very much for your support.
I've tried every version of hyper-native-tls released so far and the problem doesn't change, I'll look deeper into it asap, in the meanwhile I started looking into your multipart-async, maybe I can help you on it.

[2018-02-01 08:34] PSeitz commented on #94
Looks good!
I checked whats common for the threshold. [Java Commons](https://commons.apache.org/proper/commons-fileupload/apidocs/org/apache/commons/fileupload/disk/DiskFileItemFactory.html) uses 10kB, which should be a reasonable starting point.

[2018-02-01 08:34] #94 closed

[2018-02-11 11:56] madmaxio opened #99 "Uploading .txt file from windows returns SavedData::Bytes and doesn't save file to disk"
Is it expected behaviour?

[2018-02-11 12:12] abonander commented on #99
Saving to disk is governed by `SaveBuilder::memory_threshold()`, currently defaulting to 10kB.

As for why it's saving as bytes and not as text, I presume it's because of the Windows default text encoding which is not strictly compatible with UTF-8. If it's pure ASCII then it should still decode, though.

[2018-02-11 12:25] madmaxio commented on #99
Succeeded with 15KB text file, thx.

[2018-02-11 12:25] #99 closed

[2018-03-01 12:17] Matrix-Zhang opened #100 "0.14 not support iron 0.6???"
why? 0.13.6 support yet

[2018-03-01 12:42] abonander commented on #100
Ah, an oversight.

[2018-03-01 13:03] abonander commented on #100
fixed in 0.14.2

[2018-03-01 13:03] #100 closed

[2018-03-15 22:54] jrozner commented on #96
I'm looking at multipart libraries for implementing some middleware that will intercept, process requests, and write them back out before forwarding the potentially modified raw body onto the application. The multipart parser and serializer implementation here looks pretty good but the API is incredibly painful to work with because it's setup to expect full request structs that provide a bunch of

[2018-03-15 23:00] abonander commented on #96
Is `Multipart::with_body()` not sufficient? That just takes the boundary and a `Read` impl.

[2018-03-15 23:40] jrozner commented on #96
It looks like Multipart::with_body will handling parsing out the individual parts but from the client side it doesn't look like I can easily just pass the parts back into the client side and re-serialize them. I also necessarily am buffering the full body and looking to avoid having to deal with saving out the files to disk during read and then reading them back out during serialization. I've alre

[2018-03-16 00:08] abonander commented on #96
The default client side API lets you generate request bodies in a streaming fashion, though I don't have it set up for working with a raw `Write` impl I could make that change pretty easily, if that's all you need from the client side.

[2018-03-16 00:30] jrozner commented on #96
Some API, on the client side, where I'm able to pass in a Vec<MultipartField> or Iterator<MultipartField> with a boundary and it serializes it out to either a [u8], Write, or some other type of buffer would be awesome.

Ideally being able to get an Iterator<MultipartField> from Multipart in server would be awesome but I understand that's an issue with the streaming implementation. In my case, sinc

[2018-03-16 00:32] abonander commented on #96
On a side-note, have you looked at the [`mock`](https://docs.rs/multipart/0.14.2/multipart/mock/index.html) module at all?

[2018-03-16 17:20] jrozner commented on #96
I just took a peek and it could help some with doing the deserialization of the body, but it looks like it doesn't offer me anything that I don't already get with Multipart::with_body and the Client mocking doesn't take in the parsed parts. The real piece that would make things easier at this point is being able to operate on all parts and serialize them back out to a buffer of some sort easier.

[2018-03-16 18:33] abonander commented on #96
Yeah a new issue would be preferable. You would use `mock::ClientRequest` with `client::Client`, I dunno if that was very clear. That would allow you to serialize the body out to a `Vec<u8>` and get the boundary as well.

[2018-04-15 21:35] senthilkumarv opened #101 "Integration with actix-web"
@abonander Is it possible for you to give an example for integrating with actix-web. I enjoyed using this with Rocket. I am having a tough time integrating this with actix tho.

[2018-04-15 21:43] #101 closed

[2018-04-15 22:26] abonander commented on #101
@senthilkumarv actix-web is Futures-based, so you actually want https://github.com/abonander/multipart-async.

[2018-05-09 06:11] abonander commented on #87
Pretty sure this has been resolved for a while now, so closing.

[2018-05-09 06:11] #87 closed

[2018-05-09 06:31] abonander commented on #89
Closing this due to inactivity, reopen if it's still a problem.

[2018-05-09 06:31] #89 closed

[2018-07-26 00:23] sector-f opened #104 "Improperly-formed multipart/form-data requests can cause indefinite blocking"
I've been working on a program that accepts data upload via a multipart/form-data request, and in the process of testing it for vulnerabilities, a colleague of mine ([Nux](https://twitter.com/ItsNux)) and I have discovered that it is quite easy to perform a DoS attack on code using this crate. Thanks also to @SergioBenitez for helping me figure out where the problem was.

Here's the most-minimal p

[2018-07-26 00:32] abonander commented on #104
This isn't `multipart`'s fault. If Rocket doesn't set a default read timeout, that's Rocket's DoS vulnerability. Any other use case that tries to read the request stream to the end will block indefinitely as well.

[2018-07-26 00:38] sector-f commented on #104
The first example I provided does not use Rocket at all yet it still blocks indefinitely due to `Multipart::foreach_entry()` blocking indefinitely upon trying to parse a malformed HTTP request.

[2018-07-26 00:49] abonander commented on #104
Sorry, you mentioned read timeouts and Rocket and confused me. Multipart shouldn't be repeatedly attempting to read past the end of the request body, malformed request or not. It has nothing to do with timeouts, just a simple infinite loop bug.

[2018-07-26 06:07] abonander commented on #104
Published a fix in `0.15.1`, reopen if it's still an issue.

[2018-07-26 10:49] abonander commented on #104
The reduced repro within `server/boundary.rs` wasn't enough so I've added the test verbatim.

[2018-07-30 00:42] #104 closed

[2018-08-12 20:36] GitStonic opened #106 "StringError("text was not valid unicode")"
So I was trying to use the multipart [Iron example](https://github.com/abonander/multipart/blob/master/examples/iron.rs) from the source... But the thing is when I upload a file specifically an image file it responds back with an error and doesn't respond back with the data fields... the error is stating this
[code]
I don't fully understand what this error means and why i'm getting it... but I fee

[2018-08-17 18:28] abonander commented on #106
@GitStonic

Can you capture the raw request body in Chrome Dev Tools?

[2018-08-17 18:37] abonander commented on #106
Looking at the code, the error is occurring when trying to write the file contents to the response, but I haven't found which component is actually trying to parse the whole response as a string.

[2018-08-17 18:47] abonander commented on #106
@GitStonic nevermind capturing the request body, I just need to find where it's trying to parse the file as a string. It's somewhere in the call tree of `process_entries()`. I want to say it might be Hyper since the default content type for Iron responses is `text/plain` and Hyper might be trying to verify that.

[2018-08-17 18:55] abonander commented on #106
What version of Iron are you using, anyway?

[2018-08-18 10:09] GitStonic commented on #106
I believe i'm using the latest version of Iron `0.6.0` to be exact.

[2018-08-21 10:09] abonander commented on #106
@GitStonic just to test an assumption, does the error still occur if you set the content type of the response to something like `application/octet-stream`?

[2018-08-28 03:25] abonander commented on #106
@GitStonic I started to get frustrated because I could not find that error string *anywhere* within `multipart`, Iron or Hyper. That's because it originates in the Windows stdio handling code in the Rust stdlib. You see, Windows doesn't like non-Unicode sequences being printed to the console, which is what `StdoutTee` is doing here, even though `std` exposes it as a byte-oriented interface.

I see

[2018-08-28 14:48] GitStonic commented on #106
I see... I will try those options, Thank you for your time and effort for me. Really appreciate it.

[2018-08-28 23:57] abonander commented on #106
I need to fix these examples as well so I'm looking for opinions on the best approach. I wanted it to print the fields to stdout *somehow* but I dunno if I want to pull in another crate just for hashing/base64 conversion.

[2018-09-25 15:11] turtleallo opened #107 "the trait bound std::sync::Arc<std::string::String>: std::borrow::Borrow<str> is not satisfied"
`
error[E0277]: the trait bound std::sync::Arc<std::string::String>: std::borrow::Borrow<str> is not satisfied
  let savedfile = match entries.fields.get("pic") {
    ^^^ the trait std::borrow::Borrow<str> is not implemented for std::sync::Arc<std::string::String>
   = help: the following implementations were found:
        <std::sync::Arc<T> as std::borrow::Borrow<T>>
`

[2018-09-25 15:18] #107 closed

[2018-09-30 01:57] ocschwar opened #108 "Rocket example no longer builds"
You commented that the signature has to have a ContentType. RIght now that is precisely what Rocket is balking about:

#[post("/upload", data = "<data>", format = "multipart/form-data")]
// signature requires the request to have a `Content-Type`
fn multipart_upload(cont_type:ContentType, data: Data) -> Result<Stream<Cursor<Vec<u8>>>, Custom<String>> {

There must be some way to get the content typ

[2018-09-30 02:07] ocschwar commented on #108
error[E0107]: wrong number of type arguments: expected 1, found 2
   --> src/bin/server.rs:235:91
    |
235 | fn multipart_upload(cont_type:ContentType, data: Data) -> Result<Stream<Cursor<Vec<u8>>>, Custom<String>> {
    |                                                                                           ^^^^^^^^^^^^^^ unexpected type argument

[2018-09-30 02:10] abonander commented on #108
@ocshewar you've shadowed the `Result` type in your imports, that's why you're getting that error.

I'm out for the night so I'll see what needs fixing about the Rocket example tomorrow.

[2018-09-30 14:06] #108 closed

[2018-11-13 16:37] czifro opened #112 "Gotham example"
I've been searching for an example on how to use this with Gotham. I couldn't find one here nor on the Gotham repository. Do you have an example of how to integrate this with Gotham? I would much appreciate any help you can offer.

Cheers!

[2018-11-13 22:06] abonander commented on #112
Gotham is an async framework so it's more in-line to support it in my [`multipart-async`](https://github.com/abonander/multipart-async) crate (which has admittedly languished a bit).

Gotham has been discussing supporting `multipart/form-data` integrally for a while now, but there hasn't been any movement on it: https://github.com/gotham-rs/gotham/issues/11

I tend to defer to the framework where

[2018-11-21 10:13] liufuyang opened #114 "Multipart.foreach_entry() panics on unseen keys, is it expected?"
Hi there

I am trying to use multipart in the project Tide with building an example like in this PR:
https://github.com/rust-net-web/tide/pull/47

If you read the comments or take a look at the `examples/multipart-form/main.rs` file, you could see I tried to use `foreach_entry` method and make the lambda does nothing (only println) on a key that is not specified in the code.

It works with multipa

[2018-11-21 10:16] abonander commented on #114
Yes, it's a bug. A call to `.read_entry()` should discard the previous field's data.

[2018-11-21 10:21] liufuyang commented on #114
Is it easy to fix? Perhaps I can try help or you've got time to handle it? I am new to rust and would love some simple tasks to learn more about it :)

[2018-11-26 12:16] liufuyang commented on #114
@abonander I see.

Basically I noticed this problem while developing an example code for the tide project:
https://github.com/rust-net-web/tide/pull/47

You can see the error by:
[code]

Lines to remove to see the error:
https://github.com/rust-net-web/tide/blob/master/examples/multipart-form/main.rs#L54-L55

Let me know if this can help you see the issue on your side.

[2018-11-26 12:47] abonander commented on #114
So what I need in this context is the request body that `curl` is sending. You can get that by adding the `--trace` flag to the command as shown here: https://curl.haxx.se/docs/manpage.html#--trace

Then attach the resulting file to a Github comment so I can inspect it.

[2018-11-26 12:53] liufuyang commented on #114
Aha, I see, that one I can do easily, here is the output of --trace:
[code]

[2018-11-27 09:50] abonander commented on #114
I've added a reproduction test for this issue to the `issue_114` branch along with some debug asserts to narrow down the location of the bug. It appears to be a problem with calculating `consume_amt` in this block: https://github.com/abonander/multipart/blob/issue_114/src/server/boundary.rs#L135-L175

The assert that triggers right now is the one in the `match` block at the end so it's somewhere b

[2018-11-27 09:57] liufuyang commented on #114
Interesting. Thanks for trying to solve it @abonander 😄

[2018-11-29 11:33] #114 closed

[2018-11-30 03:59] abonander commented on #114
Fix published as `0.15.4`.

[2019-01-25 14:05] erickt opened #119 "Cutting a release?"
Thanks for the merges. Would it be possible to cut a release soon? Fuchsia is very interested is very interested in purging rand 0.3, lazy_static 1.1, and tempdir 0.3 (which needs #110 to be merged). I really appreciate all the work you have done been doing!

[2019-01-27 03:17] abonander commented on #119
Just one nit in #110 and I'll cut a release tonight.

[2019-01-28 16:39] erickt commented on #119
It looks like you already got to your nit in #110. Thanks!

[2019-01-28 22:42] erickt commented on #119
Thanks @abonander!

[2019-01-28 22:50] abonander commented on #119
Travis found a build breakage for Rust 1.24.1 on Mac OS X due to the `rand` update: https://travis-ci.org/abonander/multipart/jobs/485635648

[2019-01-29 16:29] erickt commented on #119
I fixed that breakage in https://github.com/rust-random/rand/pull/720, so it should work now on 1.24.1 on OSX with a `cargo update`.

[2019-01-29 20:46] abonander commented on #119
Rerunning the build, we'll see if that's enough.

[2019-01-29 21:08] abonander commented on #119
Passed!

[2019-02-04 06:45] abonander commented on #106
I've submitted a PR to rust-lang/rust to make the error message more specific and to document the portability hazard. I still have to fixup the examples, I'll get to that sometime.

[2019-04-17 22:08] NicholasLYang opened #120 "Saving a temp file with file extension"
Hi,

I'm attempting to process some image files with [image](https://crates.io/crates/image). However, it infers the image type from the file extension (kinda annoying imo, but hey, makes sense). Is there any way to save files to a temp directory with a file extension? I noticed you can change the folder path, but what about the file name?

Thanks,
Nicholas

[2019-04-17 22:30] abonander commented on #120
It's not a great idea to infer the file type based on extension for untrusted input anyway, honestly. I think `image` does verify its guess from the extension against the file header for the format so it's curious why it doesn't just do that instead. I guess extension + magic bytes for double verification or something.

Ideally you could pass an open file to `load()` and it would guess the format

[2019-04-17 22:33] NicholasLYang commented on #120
Makes sense, thanks!

[2019-04-17 22:33] #120 closed

[2019-08-21 16:54] konstin opened #122 "Calling `form.prepare()?.boundary()` twice panics"
Creating a form outside of a loop and then calling `let prepared_fields = form.prepare()?;` and `let boundary = prepared_fields.boundary();` in a loop panics on the second time.

Function the crash occurs in:

https://github.com/abonander/multipart/blob/4a4104d2c5241dd9702359d4e2e91114408afbb0/src/client/lazy.rs#L298-L305

Backtrace:

[code]

[2019-08-21 19:39] abonander commented on #122
@konstin leaving this open cause I'm not sure how to address it but `.prepare()` is not meant to be called more than once; the fields you set in the form were moved the first time you called it.

This panic is occurring because `boundary` is empty; if there are no fields in the request then a boundary doesn't need to be created. A simple fix, however, would be to not perform the slicing operation

[2019-08-22 11:53] konstin commented on #122
I think `.prepare()` consuming `Mutlitpart` would be a good idea as it's already consuming the contents. `boundary()` not slicing or at least explicitly panicing with an error message would also be helpful.

[2019-09-21 04:23] jparr721 opened #124 "Unable to write multipart to file in rocket"
Inside of the Rocket.rs example, the entries are written to stdout with the `write_debug` function. This is problematic because when attempting to write this content to a file, it breaks the image because of the extra header information. Is there a way around this? The docs and examples do not make it clear if this is a supported use case for Rocket in particular.

Here's my current code:
[code]

[2019-09-23 16:29] jparr721 commented on #124
Got a working version of this. I am going to PR it to master.

[2019-09-23 16:29] #124 closed

[2019-11-01 16:17] tarvos21 opened #125 "How to save the file to server?"
I have `cargo run` and modify the html code, so I can input text and choose file from my computer, but after submit, I can not find files on the disk? where are the files going to?

Any browser real example? Thanks!

[2020-01-17 23:48] shensam opened #126 "how to support actix?"

[2020-04-29 00:16] JakeChampion opened #127 "is there a way to use this with cgi?"
I'm using https://github.com/rory/rust-cgi and wanted to add file upload capabilities. I came across this crate but couldn't figure out how to integrate it. Is it possible to integrate this with the cgi crate?

[2020-06-07 14:41] shssoichiro opened #128 "Maintenance status/dependency bump request"
Greetings, I was auditing the dependency tree of one of my projects to try and reduce compile times, and found that this crate, which is used by the `warp` crate, has many outdated dependencies which is resulting in those dependencies needing to have multiple versions built (because other crates in the chain are using the latest versions). I then noticed that this crate hasn't been updated in the

[2020-06-09 01:19] abonander commented on #128
Warp should probably use `multipart-async` which I was in the process of updating last fall before work picked up and I haven't really had much time/energy to work on it since. I think I can _try_ to find some at least on that front.

I was debating replacing this crate's API entirely with `multipart-async`'s and dropping the latter as that's the direction the ecosystem is ultimately going (at lea

[2020-06-09 20:47] abonander commented on #128
Published `0.17.0` and added maintenance note to README.

[2020-06-09 20:48] abonander commented on #126
Actix has their own implementation now: https://crates.io/crates/actix-multipart

[2020-06-09 20:48] #126 closed

[2020-06-09 20:51] #128 closed

[2020-06-09 20:55] abonander commented on #127
The hardest part would be getting the multipart boundary out of the request.

You want to get the `Content-Type` header and parse its value as a [`Mime`](https://docs.rs/mime/0.3.16/mime/struct.Mime.html), after checking that its value is `mime::MULTIPART_FORM_DATA` you need to iterate through the params to find the value of the `boundary` param, with that and the body of the request you can use `

[2020-07-14 06:46] Darkkaiserl opened #129 "Add format = "application/csp-report"."
[code]
but it works
[code]

[2020-07-14 06:59] #129 closed

[2020-07-22 13:36] Darkkaiserl commented on #125
I need same, in rocket example how save the img/file?... Thanks.

[2020-07-23 12:52] Darkkaiserl commented on #125
[code]

[2020-09-20 11:54] bachue opened #131 "Got MissingContentDisposition Error when parsing the response body of Multipart ranges"
According to Multipart ranges GET protocol, when client sends GET request with Multiple Ranges, the response body is also multipart type, but there's no "Content-Disposition" header for each part. So when I send a Multiple Ranges GET request, and use this crate to parse the response, I would get `MissingContentDisposition` error.

<img width="680" alt="Screen Shot 2020-09-20 at 19 51 16" src="http

[2021-05-28 21:45] adamchalmers opened #137 "Upgrade to rand 0.8"
Hi! My project pulls in this crate transitively (as a dependency for something in the Hyper stack). I'd like to avoid having two copies of [docs.rs/rand](rand) in my tree, so it'd be nice to upgrade from 0.7 to 0.8.

[2021-05-29 03:44] abonander commented on #137
Closed by #134

[2021-05-29 03:44] #137 closed

[2021-12-03 15:00] ppentchev opened #139 ""\r\n" straddling the buffer end is erroneously sent as part of the part's contents."
Hi,

First of all, thanks for writing and maintaining the multipart crate!

I ran into a problem where the checksum calculated over a file sent over HTTP would be wrong. It turned out that warp (which uses multipart) gave me a form field containing two bytes more than expected - the CR/LF at the end of the line before the boundary. It only happened for a certain file, not for many, many others.

I

[2021-12-12 00:25] uglyoldbob opened #140 "hyper::server::Request"
It looks like hyper::server::Request moved to hyper::Request in v 0.14

[2022-01-27 12:56] sanxiyn opened #141 "Default features do not make sense"
multipart crate enables support for hyper, iron, nickel, and tiny_http by default. But enabling all of them together is almost never what you want. Therefore, these features should be removed from default features.

Note that this requires semver bump.

[2022-01-28 01:25] abonander commented on #141
Enabling all features serves two purposes:

* It lets conditionally enabled code show up in `docs.rs`
    * I am aware of the new way to do this: https://docs.rs/about/metadata
      However, that wasn't supported when this crate was authored. It is very old.
* It lets users hit the ground running without thinking about the optional features.
    * The Rust webdev space tends to get a lot of folks

[2022-01-28 05:23] sanxiyn commented on #141
Well, if you say so. I agree it does help onboarding.

[2022-01-28 05:23] #141 closed, assigned to nobody

[2022-02-01 02:52] wpd opened #142 "Can you help me figure how to make this work with Rust 2018?"
I know that this crate is in passive maintenance mode, but I care more about space than I do about performance for a web server that is going into an embedded device with very little memory.  So I don't want to add the overhead of asyncio.

I am trying to incorporate `multipart` into my project with:
[code]
but, when I compile (with Rust 1.51, 2018 edition), I get the following error:
[code]
Can y

[2022-02-02 02:31] wpd commented on #142
Okay... so this doesn't seem to be a Rust 2015/2018 issue.  It appears to be a tiny-http 0.6/0.7 issue.  I can compile and run your `tiny_http.rs` example with tiny-http 0.6, but not 0.7.  Here's the `Cargo.toml` file that I used:
[code]
I am still learning Rust... but looking at the differences between 0.6.4 and 0.7.0, I can't see anything related to Request or server that I can understand that w

[2022-02-02 05:00] abonander commented on #142
It's precisely because of the version difference. To the compiler, `tiny_http = "0.6.4"` and `tiny_http = "0.7.0"` are two different crates; if you pay attention while running `cargo build` after a `cargo clean`, you'll see that Cargo actually compiles both of them.

This is one place that's still a huge source of papercuts in Rust. It's kind of disappointing that they haven't addressed it yet.

[2022-02-02 14:42] wpd commented on #142
Ahhh.... I see...  Thank you for the explanation.  That's surprising.  Despite the number of times I have read the [SemVer](https://semver.org/) and [Cargo Documentation](https://doc.rust-lang.org/cargo/reference/resolver.html#semver-compatibility) pages, I guess I still haven't internalized them.  I'll go read them again.  Regardless, I didn't realize that Rust treated a type exported by one vers

[2022-04-12 21:07] #127 closed

[2022-06-20 10:28] kornelski opened #143 "twoway dependency is dead"
The twoway crate is [obsolete](//lib.rs/twoway). I suggest replacing it with memchr. The twoway crate also breaks Cargo's `-Z minimal-versions` option, because it can indirectly cause libc 0.1 to be pulled in.

[2022-10-11 22:00] michalfita commented on #143
@abonander is this crate still maintained? Apart the fact `twoway` is deprecated this crate uses old version causing `cargo deny` to bark at me in red if I want to use `pact_consumer`.

FYI: @ferdonline

[2022-11-30 15:02] michalfita commented on #142
Yes & no. Most problems are with immature crates with versions prior to stable 1.x.y. Normally, if you specify your dependencies as `1.x` and your dependencies do the same, cargo will automatically pick common version, where `y` matches. Thing is immature crates raise minor version quite quickly, and people aren't quick enough with updating their dependencies.